*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url(images/banner/banner1.png);
    display: flex;
    justify-content: end;
    text-align: right;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.banner-details{
    font-weight:65 ;
    font-size: 16px;
    margin: 100px 150px;
}
.title-banner{
    font-size: 65px;
    font-weight: bold;
}
.description{
    font-size: 16px;
    place-items: right;
    display: flex;
    margin-bottom: 30px;
    max-width: 494px;
}
.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color:#F15B22;

}
/* section */
.right-banner{
    display: flex;
    
    align-items: center;
    padding: 10px;
    width: 100%;
    gap: 100px;
}
.banner-dec{
display: flex;
flex-direction: column;
gap: 30px;
}
.footer input,textarea{
    margin-bottom: 24px;
    border: 0;
}










/* footer */
/* .footers{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color: #efefef;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    
}
.social-icon{
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}
.col{
    
} */
.footer{
    display: flex;
    gap: 100px;
    background-color: #151414;
    color: #FFFFFF;
    box-sizing: border-box;
}
.footer .section-title{
    text-align: left;
}